@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    src: local('NanumBarunGothic'),
    url('NanumBarunGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    font-weight: 700;
    src: local('NanumBarunGothicBold'),
    url('NanumBarunGothicBold.ttf') format('truetype');
}